doctype
html
  head
    title #{ title }
    link(href="https://cdn.jsdelivr.net/npm/beercss@2.2.9/dist/cdn/beer.min.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/beercss@2.2.9/dist/cdn/beer.min.js" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.0.10/dist/cdn/material-dynamic-colors.min.js" type="text/javascript")

  body(class="dark")
      article(class="small scroll default no-margin")
        #header(class="fixed center")
          h3(class="no-margin")
            a(href="/") #{ title }

    article(class="medium no-margin center-align middle-align")
      div(class="padding top-align")
        != yield

    #footer
      article(class="small scroll")
        #footer(class="fixed center")
          h5(class="no-margin")
            a(href="https://www.savla.dev") savla.dev (c) 2022

