
article(class="active")
  h5 Default
  p 
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum ante sit amet risus accumsan, 
    | id luctus massa gravida. Morbi fermentum vehicula leo sed rhoncus. Donec sapien lacus, rhoncus ut turpis at, 
    | elementum laoreet est. Sed ut diam eget tellus dictum varius eget vel mi. Morbi mattis posuere turpis viverra 
    | pulvinar. Sed purus nibh, tempus et sem vel, egestas consectetur eros. Sed tempus neque est. Etiam vitae eros 
    | vitae risus suscipit accumsan sed sit amet ex. Quisque eget sodales augue. 
    | Nullam eget viverra nunc. In interdum aliquam egestas. Suspendisse ultricies ante euismod, aliquam nisl eu, 
    | sagittis libero. Quisque vel condimentum ligula.

article(class="border medium no-padding")
  div(class="padding primary absolute center middle")
    h5 Field
    div Oh no i am trapped inside this fucken container

div(class="field large")
  | ooook

div(class="summary")
  | co je toto kurva
