
article(class="active fill")
  h5 Default
  p 
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elementum ante sit amet risus accumsan, 
    | id luctus massa gravida. Morbi fermentum vehicula leo sed rhoncus. Donec sapien lacus, rhoncus ut turpis at, 
    | elementum laoreet est. Sed ut diam eget tellus dictum varius eget vel mi. Morbi mattis posuere turpis viverra 
    | pulvinar. Sed purus nibh, tempus et sem vel, egestas consectetur eros. Sed tempus neque est. Etiam vitae eros 
    | vitae risus suscipit accumsan sed sit amet ex. Quisque eget sodales augue. 
    | Nullam eget viverra nunc. In interdum aliquam egestas. Suspendisse ultricies ante euismod, aliquam nisl eu, 
    | sagittis libero. Quisque vel condimentum ligula.

article(class="border medium no-padding")
  div(class="padding primary absolute center middle secondary")
    h5 Field
    div Oh no i am trapped inside this fucken container

  div(class="absolute fill left")
    p ooook


  article
    details
      summary(class="none fill right absolute")
        div(class="row")
          img(class="circle" src="/kitty.jpeg")
          div(class="max")
            h5 Custom

          i arrow_drop_down
      
      div(class="row default")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

div(class="summary fill")
  | co je toto kurva

div(class="row fill")
  div(align="left")
    p ok
  div(class="absolute")
    p pls
  div(class="max")
    p peg

article
  details
    summary(class="none fill")
      div(class="row")
        img(class="circle" src="/kitty.jpeg")
        div(class="max")
          h5 Custom

        i arrow_drop_down
       
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

article(class="no-padding fill")
  img(class="responsive small" src="/beer-and-woman.jpg")
  div(class="padding")
    h5 Title
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    nav
      button(class="round") Button

